.productBlock{
  display: flex;
  padding: 100px 0;
  justify-content: space-between;

  .buy{
    display: flex;

    .buyBtn{
      padding: 12px 50px;
      background-color: $main-color;
      border: none;
      color: $white;
      margin-left: 30px;
    }
  }

  .productinfoType{
    margin: 10px 0;
  }

  .buySubtitle{
    width: 500px;
  }
}

.infoBlock{
  display: flex;
  padding:10px 0 50px 0;

  .infoName{
    margin-right: 50px;
  }
}